# BASIC PYTHON SYNTAX

In [8]:
print(" Hello \
world" )

 Hello world

In [9]:
print ("Hello World")

Hello World

In [10]:
print ("python world")

python world

In [15]:
print ("""" hello every one""")

" hello every one

In [18]:
print("""     (_),,~.____
“\;/” :. : :.)’\
  !,!,!””^!,!,!”      """
     )

     (_),,~.____
“\;/” :. : :.)’  !,!,!””^!,!,!”

In [19]:
print("Hello world")

Hello world

In [20]:
print("python's world")

python's world

STRING INSIDE THE QUOTE

In [22]:
print("hello\tpython")

hello	python

In [24]:
print('python\'s world')

python's world

In [25]:
print("hello\apython")

hellopython

FORMATTED OUTPUT

In [38]:
name="Aravind Reddy"
marks="87.78"
age="20"
print("The name of person is ", name, "mark is ", marks, "age is", age)

('The name of person is ', 'Aravind Reddy', 'mark is ', '87.78', 'age is', '20')

In [48]:
print("The name of person is %s marks is %f age is %d"% (name,marks,age))

TypeError: float argument required, not str

In [47]:
print(f"The name of person is {name} The marks{marks} is age is {age}")

SyntaxError: invalid syntax (<ipython-input-47-bb1250d5f1b6>, line 1)

In [ ]:
varible

In [ ]:
if1= 10

In [54]:
_10=6

PYTHON ASSIGNMENT STATEMENT

In [55]:
x =  y = 10

In [56]:
x

10

In [57]:
y

10

In [59]:
y = 20

In [60]:
id(y)

53115028

In [ ]:
del x

In [61]:
id(x)

53115148

In [62]:
id(y)

53115028

In [ ]:
del y

In [63]:
id(y)

53115028

ASSIGMENT OPERATOR

In [64]:
5**5

3125

In [65]:
7**8

5764801

In [66]:
11**14

379749833583241L

In [67]:
10+20

30

In [68]:
10/2

5

In [69]:
10-20

-10

In [70]:
10/3

3

In [71]:
10%3

1

In [72]:
10//3

3

In [77]:
a = 10
b = 20
a == b

False

In [78]:
 c = 10
 a == c

True

In [80]:
c <=  a

True

In [81]:
a >= b

False

In [82]:
a!=b

True

In [83]:
strl = "pythonprogramming"
"x" not in strl

True

In [84]:
a = 10
b = 10
a == b

True

In [85]:
a is b

True

In [86]:
id(a)

53115148

In [87]:
id(b)

53115148

In [88]:
x = 1.5
y = 1.5
x == y

True

In [89]:
x is y

False

In [90]:
id (x)

84850112

In [91]:
id(y)

84850096

In [92]:
a = 257
b =257
a ==b

True

In [93]:
a is b

False